.main-nav {
    min-height: 50px;
    width: 100%;
    margin: 0 auto;
    border-top: solid 3px #ef8236;
    box-shadow: 0px 1px 5px black;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #f8f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    padding: 5px 25px;
}

#icon {
    display: none;
}

.nav-item {
    margin: 0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69, 69, 69);
    transition: 0.2s;
}

.nav-btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

.nav-item:hover {
    background-color: rgb(220, 220, 220);
}

.navbar form {
    display: flex;
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}

.navbar form input {
    width: 80%;
    flex-shrink: 2;
    margin: 0;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: solid 1px #0000003e;
    border-radius: 3px;
}

.navbar form .icon {
    position: absolute;
    top: 8px;
    left: 25px;
}

.nav-links {
    padding: 7px 13px;
    border: solid 1px blue;
    background-color: #e7f8fe;
    cursor: pointer;
}

.nav-links:hover {
    background-color: #d3e4eb;
}

.burger {
    width: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 10px;
    cursor: pointer;
}

.burger div {
    width: 100%;
    border: 2px solid black;
    margin: 2px;
}

.hide-icon {
    display: none;
}

.hide-burger {
    display: none;
}

@media screen and (max-width:865px) {

    .hide-resp {
        display: none;
    }

}

@media screen and (max-width:575px) {
    .hide-icon {
        display: block;
    }


    .nav-logo {
        display: none;
    }

    .hide-burger {
        margin: 0;
        padding: 0;
        width: 0;
        display: block;
    }


    #logo {
        display: none;
    }

    .hide-icon {
        display: block;
    }

    #icon {
        display: inline;
        width: 100%;
    }

    .nav-item {
        width: 8%;
    }


    .navbar form {
        flex-grow: 0;
        width: 40%;
    }

    .navbar button {
        width: 25%;
    }

    .burger {
        display: flex;
    }





}